html { 
	font-family: "Helvetica Neue",Helvetica, sans-serif;
	/*谷歌浏览器字体最小字体12px*/
	-webkit-text-size-adjust: 100%;/*100%/none 关闭字体大小自动调整功能*/
	/*a标签及拥有 :active伪类的元素有默认的高亮框*/
	-webkit-tap-hightlight-color: transparent;
	/*禁止文本被选中*/
	-webkit-user-select: none;
}
body{
	overflow-x:hidden;
	/*开启moblie网页快速滚动和回弹的效果*/
	-webkit-overflow-scrolling: touch;
	font-size: 12px;
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	display: block;
	width:100%;
	color: #333;
	text-decoration: none;
}
a.line,.topLine{
	position: relative;
}
a.line:after,.topLine:after{
	content: '';
	position: absolute;
	top:0;
	right:0;
}
a.line:after{
	width:1px;
	height:100%;
	border-right:1px solid #eee;
	-webkit-transform: scaleX(0.5);
	-moz-transform: scaleX(0.5);
	-ms-transform: scaleX(0.5);
	-o-transform: scaleX(0.5);
	transform: scaleX(0.5);
}
.topLine:after{
	width:100%;
	height:1px;
	border-top:1px solid #eee;
	-webkit-transform: scaleY(0.5);
	-moz-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	-o-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
img{
	border: 0;
	display: block;
	vertical-align: middle;
}
input{
	-webkit-appearance: none;
	outline: none;
	border: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	content:"";
	display:block;
	width:100%;
	height:0;
	clear:both;
}
li,ol{
	list-style:none;
}

/*.sprite-icon{*/
	/*display:inline-block;*/
	/*background:url("../images/jd-sprites.png") no-repeat;*/
	/*background-size:200px 200px;*/
/*}*/